/Debug/
/.settings/
/MCX_PORClkTestProject LinkServer Debug.launch
/MCX_PORClkTestProject.mex
/.default_mex
/svd/
/MCXN947_PORClkTestProject LinkServer Debug.launch
/MCXN947_uCOSDemo1Project LinkServer Debug.launch
/MCXN947_DSPDemoCsOS3Project LinkServer Debug.launch
